nav{
    text-align: right;
    width: 100%;
    margin-top: 10px;
    vertical-align: middle;
    height: 20px;;
}
a{
    text-decoration: none;
    color:rgba(0,0,0,0.87);
    padding: 14px 10px 14px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    
}

main{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.link-normal:hover{
    
    text-decoration: underline;
}
.fa-bars{
    font-size: 25px;
    
}
.user{
    color: crimson;
    font-size: 30px;
}


.search-bar{
    border: 1px #dfe1e5 solid;
    border-radius: 24px;
    width: 582px;
    height: 44px;
    margin: 20px;
}
.search-bar:hover{
    box-shadow: 1px 1px 2px 1px lightgrey ;
}

.search-bar>i{
    align-items: center;
    padding: 15px 8px 0 14px;
    color: #9AA0A6;
}
.search-bar>img{
    float: right;
    padding: 12px 10px 0 10px;
    height: 20px;
    background-color: transparent;
    
}

button{
    background-color: #f2f2f2;
    text-decoration: none;
    border: none;
    height: 40px;
    width: 150px;
    margin: 10px;
    border-radius: 5px;
    color: #5F6368;
}

button:hover{
    box-shadow: 0px 0px 2px 1px lightgrey ;
    border: 1px solid lightgray;
}