*{
    margin: 0 auto;
}
#bgcolour{
    background: #e7a61a;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
}

#main{
    background-color: #ffffff;
    width: 60%;
    height: 80%;
    margin: auto;
    position: relative;
    border: #000000 solid 1px;
    border-radius: 10px;
}
#btnstart{
    margin: 0 auto;
    display: block;
    margin-top: 10%;
    height: 50px;
    width: 200px;

}
#inserthand{
    display: flex;
    margin-top: 10%;
    justify-content: center;
    text-align: center;
}
#rock{
    background: #ffffff url(images/rock.png) no-repeat;
    background-size: 75%;
    
}
#paper{

    background: url(images/paper.png) no-repeat;
    background-size: 75%;

}
#scissors{

    background: url(images/scissors.png) no-repeat;
    background-size: 75%;

}
.handbtn{
    width: 70px;
    height: 122px;
    border: none;
    
}

#player-scores{
    display: flex;
}

#round-score{
    margin-top: 10%;
    text-align: center;
}
#reset{
    display: none;
}