#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    width: 960px;
    height: 640px;
    margin: 0 auto;
}

.box{
    display: block;
    width: 96px;
    height: 196px;
    background-color: green;
}
.box:hover{
    background-color: black;
    cursor: pointer;
}