#main{
    display: flex;
    height: 100vh;
    background-color: lightslategrey;
    flex-direction: column;
    background-image: url(wallpapersketch.jpg);
    background-size: 200px 275px;

}
#mechanics{
    width: 600px;
    margin: 20px auto 10px auto;
    display: flex;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 600px;
    min-height: 600px;
    margin: 10px auto;
    border: 20px solid rgb(5,96,157);
    border-radius: 10px;
}

.box{
    display: block;
    background-color: white;
    box-shadow:inset 0px 0px 0px 1px #cbdff4;
}
.box:hover{
    cursor: pointer;
}

button{
    background-color: rgb(242,246,245);
    border: rgb(60,178,242) 1px solid;
    border-radius: 5px;
    font-family: 'Balsamiq Sans', cursive;
    height: 30px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}




