body{
    margin: 0 auto;
    background-color: white;
}
#title{
    text-align: center;
    background-color: darkorange;
    color: white;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding: 10px;

}
#img-div{
    width: 80%;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

#image{
    max-width: 100%;
    text-align: center;
    height: auto;
    border-radius: 10px;
    box-shadow: grey 5px 5px 50px;
    border: lightgrey 0.5px;
    display: block;
}

#img-caption {
    padding: 25px;
    font-size: 25px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
#text_section{
    background-color: sandybrown;
    padding: 20px;
    font-size: 1.2em
}
#tribute-info{
    width: 75%;
    margin: auto;
    text-align: justify;
}
h2{
    text-decoration: underline;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: initial;
}
#link{
    background-color: darkorange;
    padding: 20px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    color: white;
}
#tribute-link{
    font-weight: bolder;
    color: inherit;

}